<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Pinterest | Feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" type="image/x-icon">
</head>

<body>
    <div class="nav w-full lg:px-10 lg:py-3 px-5 py-2 flex justify-between">
        <div class="flex items-center lg:gap-5 gap-3">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png"
                alt="Pinterest Icon" class="pin-icon lg:w-10 lg:h-10 w-6 h-6">
            <h3 class="pin-text lg:text-2xl text-base font-semibold">Pinterest</h3>
        </div>
        <div class="flex lg:gap-10 gap-4 items-center">
            <a class="lg:px-5 lg:py-2 px-3 py-1 bg-red-600 hover:bg-red-700 rounded-full text-white" href="/profile">Profile</a>
            <a class="lg:px-5 lg:py-2 px-3 py-1 bg-red-600 hover:bg-red-700 rounded-full text-white" href="/logout">Logout</a>
        </div>
    </div>

    <div class="grid">
        <% posts.forEach(function(post) { %>
            <div class="grid-item">
                <img src="/images/uploads/<%= post.image %>" alt="<%= post.imageText %>">
                <div class="px-3 py-2">
                    <!-- Display username here -->
                    <h2 class="text-sm text-gray-700">@<%= post.user.username %></h2>
                    <h1 class="lg:text-xl text-sm font-semibold">
                        <%= post.imageText %>
                    </h1>
                    <p class="text-gray-800 lg:text-sm text-sm mt-1">
                        <%= post.description %>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $(".grid").imagesLoaded(function () {
            $(".grid").masonry({
                itemSelector: ".grid-item"
            });
        });
    </script>
</body>

</html>
